@font-face {
    font-family: "meromSans";
    src: url("./fonts/meromsans-regular-webfont.woff2") format("woff2"), url("./fonts/meromsans-regular-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

html{
    background: url('./images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'meromSans', sans-serif;
}

body{
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
}

div.topRightContainer{
    padding-left: 1vw;
    padding-bottom: 50px;
}

form{
    background-color: white;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

form>h1, h1+p, p+p{
    margin-bottom: 10vh;
}

input, label{
    display: block;
}

form div:nth-child(odd){
    float: left;
    margin-right: 1vw;
}

input#password+p{
    height: 1rem;
    margin: 0;
}

div.buttonContainer{
    flex-grow: 1;
    background-color: rgb(237, 234, 234);
    padding-top: 5vh;
    padding-left: 1vw;
}

button{
    font-family: 'meromSans';
    background-color: rgb(185, 33, 33);
    color: rgb(236, 203, 16);
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 1rem;
}

div.rightFooter{
    background-color: rgb(40, 40, 87);
    height: 2em;
    display: flex;
    justify-content: center;
}

div.leftContainer{
    width: 50vw;
    display: flex;
    flex-direction: column;
}

div.logoContainer{
    font-size: 2rem;
    font-weight: bold;
}

div.logoContainer{
    background-color: rgba(0, 0, 0, 0.492);
    margin-top: 20vh;
    height: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:focus:valid{
    background-color: rgb(155, 229, 155);
}

input:focus:invalid{
    background-color: rgb(229, 155, 155);
}

footer{
    background-color: rgb(40, 40, 87);
    margin-top: auto;
    width: 50vw;
    height: 2em;
    white-space: pre;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}